    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
<<<<<<< HEAD

=======
>>>>>>> ff516b5bfcc101f7ef0e43fb203a9dd32b6fa3c0
</body>
</html>